<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.bjbr.mapper.ItemMapper">
   
   <resultMap type="com.bjbr.pojo.ExamSuit" id="queryItemListRM">
   <id property="ID_ExamSuite" column="ID_ExamSuite" />
   
   <result property="ExamSuite_Name" column="ExamSuite_Name"/>
   <result property="sex" column="F_Male" jdbcType="BIT" javaType="boolean" />
   <result property="Price" column="Price"  javaType="double" />
   </resultMap>
   
    <select id="queryItemList" resultMap="queryItemListRM" >
    
      select ID_ExamSuite,
      ExamSuite_Name,
      F_Male,
      Price
      
       from BasExamSuite
    </select>
      
   </mapper> 
    